body {
    margin-bottom: 80px;    
}

/* 5 Day forecast weather boxes */
.weather-box {

    background-color: #007bff;
    border-radius: 5px;
    color: #fff;
}
/* Search result button */
.result-btn {
    
    width: 100%;
    text-align: left;
    font-weight: bold;
    
}

.forecast-date {

    font-weight: bold;
    font-size: 24px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}